.slide-container {
    width: 100%;
    margin: auto;
    position: relative;
    height: 350px;
    background-color: black;
  }
  
  .bd{
    background-color: black;
  }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;

    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;

  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
  
  .indicator {
    width: 30px;
    color: rgb(0, 255, 179);
    text-align: center;
    cursor: pointer;
    border: 1px rgb(0, 255, 234) solid;
  }
  .indicator.active {
    background: #000;
    color: rgb(124, 124, 124);
  }
  .list-row {
    height: auto;
    background: #000;
  }
  .list-group-item {
    height: 400px;
  }
  
  button{
    width: 100px;
    position: relative;
    left: 45%;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    border: solid 2px rgb(6, 255, 172);
    border-radius: 10px;

  }

  button:hover{
    background-color: black;
    color:rgb(6, 255, 172) ;
  }

  .imgCard{
    height: 400px;
  }