body {
  margin-left: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 50%;
  background-color: black;
}

.topic{
  text-align: center;
  position: relative;
  left: 350px;
  font-size: 40px;
  font-family: 'Bauhaus';
  color: grey;
}
