body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color:rgb(35, 5, 85);
  }

  #snap {
    background-color: yellow;
  }

  #video {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    border:20px solid blue;
    padding:10px;
}